@model IEnumerable<NeedleWork2016.Entities.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUserNavigation.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUserNavigation.LastName)
        </td>
        <td>
        
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
