@*@model NeedleWork2016.ViewModels.Admin.AdminUsersViewModel*@
@model NeedleWork2016.ViewModels.Home.HomeViewModel

@{
    ViewData["Title"] = "Admin page";
}


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link href="~/lib/jqgrid-master/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/admin.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

<div id="admin">
    <div class="admin-page">
        <div class="wrap">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Admin</a></li>
                    <li><a href="#tabs-2">Localization</a></li>
                </ul>
                <div id="tabs-1">
                    <table id="usersList"></table>
                    <div id="gridpager"></div>
                </div>
                <div id="tabs-2">

                    <form role="form" id="localizationForm">
                        <select id="selectLanguage">
                            <option value="en">English</option>
                            <option value="ru">Russian</option>
                        </select>

                        <div class="first-level">
                            <span class="title">Title:</span>
                            @Html.TextBoxFor(m => m.Title, new { id = "title", @class = "", @placeholder = "" })
                        </div>

                        <div class="first-level">
                            <span class="title">First Block Name: </span>
                            @Html.TextBoxFor(m => m.FirstBlockName, new { id = "FirstBlockName", @class = "", @placeholder = "" })
                            <div class="second-level FirstBlock">
                                <span class="title">First Block Text:</span>
                                <div class="multiple">
                                    @for (var i = 0; i < Model.FirstBlockText.Length; i++)
                                    {
                                        @if (i == 0)
                                        {
                                            <span id="item" class="default">
                                                @Html.TextBoxFor(m => m.FirstBlockText[i], new { id = "", @class = "FirstBlockText", @placeholder = "" })
                                                <i class="fa fa-plus-circle"></i>
                                            </span>
                                        }
                                        else {
                                            <span id="item" class="minus">@Html.TextBoxFor(m => m.FirstBlockText[i], new { id = "", @class = "FirstBlockText", @placeholder = "" })<i class="fa fa-minus-circle"></i></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="first-level">
                            <span class="title">Second Block Name: </span>
                            @Html.TextBoxFor(m => m.SecondBlockName, new { id = "SecondBlockName", @class = "", @placeholder = "" })
                            <div class="second-level SecondBlock">
                                <span class="title">First Block Text:</span>
                                <div class="multiple">
                                    @for (var i = 0; i < Model.SecondBlockText.Length; i++)
                                    {
                                        @if (i == 0)
                                        {
                                            <span id="item" class="default">
                                                @Html.TextBoxFor(m => m.SecondBlockText[i], new { id = "", @class = "SecondBlockText", @placeholder = "" })
                                                <i class="fa fa-plus-circle"></i>
                                            </span>
                                        }
                                        else {
                                            <span id="item" class="minus">@Html.TextBoxFor(m => m.SecondBlockText[i], new { id = "", @class = "SecondBlockText", @placeholder = "" })<i class="fa fa-minus-circle"></i></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="first-level">
                            <span class="title">Third Block Name: </span>
                            @Html.TextBoxFor(m => m.ThirdBlockName, new { id = "ThirdBlockName", @class = "", @placeholder = "" })
                            <div class="second-level ThirdBlock">
                                <span class="title">First Block Text:</span>
                                <div class="multiple">
                                    @for (var i = 0; i < Model.ThirdBlockText.Length; i++)
                                    {
                                        @if (i == 0)
                                        {
                                            <span id="item" class="default">
                                                @Html.TextBoxFor(m => m.ThirdBlockText[i], new { id = "", @class = "ThirdBlockText", @placeholder = "" })
                                                <i class="fa fa-plus-circle"></i>
                                            </span>
                                        }
                                        else {
                                            <span id="item" class="minus">@Html.TextBoxFor(m => m.ThirdBlockText[i], new { id = "", @class = "ThirdBlockText", @placeholder = "" })<i class="fa fa-minus-circle"></i></span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <input type="submit" id="updateBtn" value="Update"></input>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="deleteSuccess">User deleted successfully!</div>

<script src="~/lib/jqgrid-master/js/jquery.jqgrid.min.js"></script>
<script src="~/lib/jqgrid-master/js/i18n/grid.locale-en.js"></script>
<script src="~/js/admin.js"></script>




